# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
*.pot
*.pyc
db.sqlite3

# Env files
.env
.venv/
venv/
env/
ENV/

# VS Code or PyCharm
.vscode/
.idea/

# OS-specific
.DS_Store
Thumbs.db
