input[type="text"], input[type="date"], input[type="time"] {
  width: 100%;
  max-width: 500px;
  border: 2px solid #E43C13; /* Uniform color */
  padding: 10px;
  font-size: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease-in-out;
}

input[type="text"]:focus, input[type="date"]:focus, input[type="time"]:focus {
  outline: none;
  border-color: #E43C13;
  font-size: 22px;
  box-shadow: 0px 2px 6px rgba(228, 60, 19, 0.4); /* Match color */
}

/* Flexbox container for schedule inputs */
.schedule-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.schedule-container label {
  font-size: 14px;
  color: #E43C13; /* Uniform color */
}

.schedule-container input[type="date"],
.schedule-container input[type="time"] {
  width: auto;
  flex: 1;
}
date-time-picker {
    display: flex;
    gap: 10px;
}
.date-time-picker input[type="date"],
.date-time-picker input[type="time"] {
    width: auto;
    flex: 1;
}
